.layout{
    user-select: none;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 3fr;
    .info{
        grid-column: 1 / 2;
        max-width: 30vw;
        padding: 2rem;
        box-shadow: inset -10px 0 10px #f0f0f0;
        overflow-y: auto;
        .backButton{
            height: 2rem;
            border: none;
            border-radius: 8px;
            background-color: #f0f0f0;
            padding: 0.5rem 1rem;
            cursor: pointer;
            color: #707070;
            text-decoration: none;
        }
        .countryName{
            color: #909090;
            font-size: 300%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 1rem;
        }
        .date{
            height: 2.5rem;
            width: 100%;
            color: #707070;
            border: 2px solid #b1b1b1;
            border-radius: 8px;
            padding: 0.4rem;
            margin-top: 1rem;
        }
        .data{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 1rem;
            @mixin box{
                border: 4px;
                padding: 0.5rem;
                border-radius: 6px;
                display: flex;
                justify-content: space-between;
            }
            .totalBox{
                @include box;
                border: 2px solid #FF6B6B;
                color: #FF6B6B;
                background-color: #FF6B6B10;
            }
            .activeBox{
                @include box;
                border: 2px solid #dfb922;
                color: #dfb922;
                background-color: #dfb92210;
            }
            .recoveredBox{
                @include box;
                border: 2px solid #6BCB77;
                color: #6BCB77;
                background-color: #6BCB7710;
            }
            .deathBox{
                @include box;
                border: 2px solid #4D96FF;
                color: #4D96FF;
                background-color: #4D96FF10;

            }
        }
        .information{
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #909090;
            &:hover{
                cursor: pointer;
            }
            &:active{
                color: #1a1a1a;
            }
        }
    }

    .graph{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 10%;
        height: fit-content;
        overflow-y: auto;
        .title{
            display: flex;
            font-size: 5rem;
            justify-content: start;
            width: 100%;
            margin-bottom: 2rem;
            color: #707070;
        }
        .precision{
            display: flex;
            width: 100%;
            justify-content: start;
        }
        .range{
            width: 100%;
            text-align: left;
        }
        .chart{
            width: 100%;
            height: 100%;
        }
    }

}
@media (max-width: 1200px){
    .info{
        .data{
            .dataText{
                display: none;
            }
        }
    }
}

@media (max-width: 710px){
    .info{
        .data{
            .dataIcon{
                display: none;
            }
        }
    }
}

@media (orientation: portrait){
    .layout{
        grid-template-columns: 1fr;
        overflow-y: visible;
        // grid-template-rows: 1fr 3fr;
        .info{
            grid-column: 1 / 2;
            max-width: 100vw;
            grid-row: 1 / 2;
            box-shadow: inset 0 -10px 10px #f0f0f0;
            height: min-content;
        }
        .graph{
            
        }
    }
}