<div class="layout">
    <div class="info">
        <a href="/" class="backButton">Volver</a>
        <div class="countryName">
            <span [title]="countries[0]">{{ countries[0] }}</span>
        </div>
        <input type="date" class="date" ma [(ngModel)]="selectedDateString" (change)="changeDate()">
        <div class="data">
            <div class="totalBox">
                <fa-icon class="dataIcon" [icon]="icons.total"></fa-icon>
                <span class="dataText">Total cases</span>
                <span *ngIf="!loadingData">{{ currentData.Confirmed | number: '1.0-0' }}</span>
                <img *ngIf="loadingData" src="assets/spinner.gif" width="15">
            </div>
            <div class="activeBox">
                <fa-icon class="dataIcon" [icon]="icons.active"></fa-icon>
                <span class="dataText">Active</span>
                <span *ngIf="!loadingData">{{ currentData.Active | number: '1.0-0' }}</span>
                <img *ngIf="loadingData" src="assets/spinner.gif" width="15">
            </div>
            <div class="recoveredBox">
                <fa-icon class="dataIcon" [icon]="icons.recovered"></fa-icon>
                <span class="dataText">Recovered</span>
                <span *ngIf="!loadingData">{{ currentData.Recovered | number: '1.0-0' }}</span>
                <img *ngIf="loadingData" src="assets/spinner.gif" width="15">
            </div>
            <div class="deathBox">
                <fa-icon class="dataIcon" [icon]="icons.deaths"></fa-icon>
                <span class="dataText">Deaths</span>
                <span *ngIf="!loadingData">{{ currentData.Deaths | number: '1.0-0' }}</span>
                <img *ngIf="loadingData" src="assets/spinner.gif" width="15">
            </div>
            <fa-icon class="information" size="lg" [icon]="icons.info" (click)="seeInfo()"></fa-icon>

        </div>
    </div>
    <div class="graph">
        <div class="title">
            <span>Cases</span>
        </div>
        <div class="precision">
            <span>Precision:&nbsp;</span>
            <span>{{ range }} days</span>
        </div>
        <input type="range" min="1" max="100" class="range" [(ngModel)]="range" (change)="getData()">
        <canvas baseChart class="chart"
        id="chartT"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
        </canvas>
    </div>

</div>